::selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #8d7edc;
  color: #fff;
  text-shadow: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body,
#root {
  width: 100%;
}

* {
  // font-family: 'BMJUA', 'Source Sans Pro';
  color: #333;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

p {
  font-size: 1.2em;
}